[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
coverage = "*"
"flake8" = "*"
pylint = "*"
pytest-cov = "*"
sphinx = "*"

[requires]
python_version = "3.7"
